/* public/css/medium.css */

/* Medium screen styles using media queries */
@media only screen and (min-width: 600px) and (max-width: 799px) {
    body {
        background-color: #d9d9d9;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
    }

    /* Add any other styles for medium screens here */
}
