/* Define color scheme */
:root {
  --prmary-bg-color: #bababa;
  --scondary-bg-color: #8d8d8d;
  --link-color: #a6cbeb;
  --accent-color: #4c96dbeb;
  --text-color: #3a3a3a;
  --white-color: #ffffff;

}

body {
  background-image: url('img/checkerboard.jpg');
  background-repeat: repeat; /* I may change this to 'no-repeat' if I want the image to appear once */
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* styles.css */

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
header img {
  max-width: 100%;
  height: auto;
}
.logo picture {
  list-style: none;
}

header h1 {
  margin: 0;
}

/* Navigation styles */
nav {
  background-color: #444;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
}

/* Main content styles */
main {
  max-width: 800px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
